# 개발용 로컬 DB 접속 정보
DATABASE_URL="mysql://anteater1056:0000@localhost:3306/diourytest"

# 인증 메일 발송 관련 정보
MAIL_USER=
MAIL_PASS=

# 레디스 접속 정보
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

# 세션 저장소 비밀 키
SESSION_STORAGE_SECRET=1234